:root{
    ---preto: #02020B;
    ---bege: #E6AA68;
    ---ovo: #ECE4B7;
    ---verde: #7FB069;
    ---laranja: #D36135;
    ---cinza: #303030;
    --border: 1px solid #ffffff1a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    background-color: var(---preto);
    color: var(---ovo);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.container{
    max-width: 690px;
    margin: 0 auto;
    padding: 20px 32px;
}

header{
    padding: 20px 0;
}

form{
    border: var(--border);
    border-inline: none;
    padding: 20px 0;
}

fieldset{
    border: none;
}

fieldset legend, section h2{
    font: 700 16px/140% 'Roboto', sans-serif;
    color: #e1e1e6;
    padding-bottom: 16px;
}

.lista-participantes{
    padding: 20px 0;
}

.lista-participantes > div{
    border: var(--border);
    border-radius: 8px;
}

fieldset > div{
    display: flex;
    gap: 12px;
}

.input-wrapper{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 12px;
    border: var(--border);
    border-radius: 10px;
    padding: 8px 12px;
    font: 400 14px/150% 'Roboto', sans-serif;
    color: var(---ovo);
}

input{
    all: unset;
}

fieldset button{
    width: fit-content;
    border: 0;
    background: var(---laranja);
    border-radius: 10px;
    color: var(---preto);
    padding: 7px 20px;
    font: 700 12px/24px 'Roboto', sans-serif;
    transition: opacity, 0.3s;
}

fieldset button:hover{
    opacity: 70%;
    cursor: pointer;
}

table{
    border-collapse: collapse;
}

table thead{
    font-size: 14px;
    line-height: 16px;
}

thead th,
tbody td{
    padding: 12px 16px;
}

tbody td{
    border-top: 1px solid #ffffff1a;
    font-size: 13px;
    line-height: 15px;
    color: var(---ovo);
}

tbody td strong{
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: var(---ovo);
}

tbody td small{
    font-size: 12px;
    line-height: 16px;
    color: var(---ovo);
}

tbody td button{
    all: unset;
    color: var(---verde);
}

tbody td button:hover{
    text-decoration: underline;
    cursor: pointer;
}